#!/usr/bin/make -f
# See debhelper(7) (uncomment to enable)
# output every command that modifies files on the build system.
#export DH_VERBOSE = 1

%:
	dh $@ 

override_dh_clean:
	dh_clean --exclude=*.so

override_dh_prep:
	dh_prep --exclude=*.so

override_dh_auto_install:
	dh_auto_install
	mkdir -p debian/ai2offline-emulator-libs/opt/ai2offline/AI2Offline7.7/from-Android-SDK/emulator/lib64
	cp libs/lib64/*so debian/ai2offline-emulator-libs/opt/ai2offline/AI2Offline7.7/from-Android-SDK/emulator/lib64/
