#!/usr/bin/make -f
# See debhelper(7) (uncomment to enable)
# output every command that modifies files on the build system.
#export DH_VERBOSE = 1

%:
	dh $@ 

override_dh_auto_build:
	mkdir -p debian/opt/ai2offline/AI2Offline7.7/from-Android-SDK/emulator/lib64/
	cp -r libs/lib64/* debian/opt/ai2offline/AI2Offline7.7/from-Android-SDK/emulator/lib64/
